<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出行 穿戴</title>
    <link rel="stylesheet" href="../../index/index.css">
    <link rel="stylesheet" href="./moblic-Travel-wear.css">
</head>

<body>
    <section id="moblic-Travel-wear">
        <ul id="moblic-Travel-wear-ul"></ul>
    </section>
</body>

</html>

<script>
    var arrs = [
        {
            img: "https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/baba53e0cfd7bf0958edd84f8c5fcbbb.png?thumb=1&w=40&h=40&f=webp&q=90",
            title: "小米手环6 NFC版",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/baba53e0cfd7bf0958edd84f8c5fcbbb.png?thumb=1&w=40&h=40&f=webp&q=90",
            title: "小米手环6 标准版",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/69bd883c1fc06ce41ff0fa1423b77e4e.png?thumb=1&w=40&h=40&f=webp&q=90",
            title: "Redmi 手表",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/8e8c85f251ed8b5cd54651c4be13bc68.png?thumb=1&w=40&h=40&f=webp&q=90",
            title: "小米手环5NFC",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/18f75b53afbe8ce2e858cb5622d60613.png?thumb=1&w=40&h=40&f=webp&q=90",
            title: "小米手环5",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/3cc76c2ce836255c1b2e3e1cf477cfef.png?thumb=1&w=40&h=40&f=webp&q=90",
            title: "小米手表",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/50180b158690a40f9cbc684c7646d297.jpg?thumb=1&w=40&h=40",
            title: "平衡车",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/749c779fd3789ba94033da8aaa547dcd.png?thumb=1&w=40&h=40&f=webp&q=90",
            title: "自行车",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/787c807176455f9ae40146af11e98b1e.jpg?thumb=1&w=40&h=40&f=webp&q=90",
            title: "车载充电器",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/971c8c01a246c7ac69a4c9be9e77e832.jpg?thumb=1&w=40&h=40",
            title: "智能后视镜",
            connect: "#",
        },

    ];
    var card_print = "";
    arrs.forEach(e => {
        card_print += `
            <ul id="moblic-Travel-wear-ul">
                <li>
                    <a href=${e.connect} >
                        <img src=${e.img} alt=${e.title}>
                        <span>${e.title}</span>
                    </a>
                </li>
            </ul>
        `
    })
    document.getElementById('moblic-Travel-wear-ul').innerHTML = card_print;
</script>