<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>手机 电话卡</title>
    <link rel="stylesheet" href="../../index/index.css">
    <link rel="stylesheet" href="./Mobile_phone_card.css">
</head>
<body>
    <section id="Mobile_phone_card">
        <ul id="Mobile_phone_card-ul"></ul>
    </section>
</body>
</html>

<script>
    var cards=[
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/ab345272bf9894bb8269d4901344b068.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"小米MIX FOLD",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/4a7a4f24061860901f724b6ba6d75fd9.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"小米10",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/0dfda044e0ddcfb3ef63e7e2b87daea3.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"黑鲨4 Pro",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/7b7e7228d1708665b7e6fe5e07ad4929.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"黑鲨4",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/69a0df49cff71107977bbe3b48af15fa.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"Redmi K30S 至尊纪念版",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/8ade0163e9fdbd92a4b7d7ee3aeab905.jpg?thumb=1&w=40&h=40",
            title:"小米云服务",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/0803dc7125ffa3447b04b1ae60f57a2b.jpg?thumb=1&w=40&h=40&f=webp&q=90",
            title:"Redmi K30 至尊纪念版",
            connect:"#",
        },        
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/56bb7e2d44cef71c3afedaeae3d98927.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"Note 10 Pro",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/79e2935264bf9247aa7512e330112820.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"Note 10 5G",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/ab956ee82c24bdd83d21bc212aad3eb5.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"K40 游戏增强版",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/0e5aa3cab478f5eeba1c7d4cf25cba9a.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"K40 Pro 系列",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/92fdd051100722d25323e9bd188befc5.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"Redmi K40",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/f774ef8332f2204a7c8fbf1b92f29e8a.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"Redmi 10X 5G",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/76378ce289a36fcfa29f704ba90b4155.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"Redmi Note 9 Pro",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/970c6b287eb89620f5ee8e2b347f6f3d.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"Redmi Note 9 5G",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/947721c8bc4a4ecc3bca17237ee64dea.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"Redmi Note 9  4G",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/cba27e53367b74271a38a4515a692816.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"Redmi Note 8 Pro",
            connect:"#",
        },        
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/0cadc8b00dbe3b5615bd6ab657715baf.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"Redmi 9",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/72bd70039670d29610569421f753fcb6.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"小米11 青春",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/c89e7b3a3495acaa0a4df271d9da59ea.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"小米10S",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/a51c1afa4db8e47e62fad1f6fa4a8970.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"小米11",
            connect:"#",
        },
        {
            img:"https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/4a7a4f24061860901f724b6ba6d75fd9.png?thumb=1&w=40&h=40&f=webp&q=90",
            title:"小米10",
            connect:"#",
        },

    ];
    var card_print="";
    cards.forEach(e=>{
        card_print+=`
            <ul id="Mobile_phone_card-ul">
                <li>
                    <a href=${e.connect} >
                        <img src=${e.img} alt=${e.title}>
                        <span>${e.title}</span>
                    </a>
                </li>
            </ul>
        `
    })
    document.getElementById('Mobile_phone_card-ul').innerHTML=card_print;
</script>