#Mobile_phone_card{
   /*  border: 1px solid rebeccapurple; */
    width: 995px;
    height: 470px;
}

#Mobile_phone_card-ul{
    display: grid;
    grid-template-columns: repeat(4,248px);
    grid-template-rows: repeat(6,65px);
    /* border: 1px solid red; */
}
#Mobile_phone_card-ul li{
    display: flex;
    align-items: center;
}
#Mobile_phone_card-ul a{
    color: #757575;
    font-size: 14px;
}
#Mobile_phone_card-ul span{
    display: inline-block;
    transform: translateY(-10px);
    text-indent: 15px;
}
#Mobile_phone_card-ul img{
    display: inline-block;
    transform: translate(5px,3px);
    /* border: #757575 1px solid; */
}