*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    background-color: #fff;
    /* min-width: 1226px; */
}

#xiaomi-seckill{
    margin: auto;
    width: 1226px;
}
#xiaomi-seckill-ol{
    padding: 10px 0px 10px 0px;
    width: 1226px;
    display: flex;
    justify-content: space-between;
}
#xiaomi-seckill-ol li:nth-child(1){border-top: #C0392B  1px solid;}
#xiaomi-seckill-ol li:nth-child(2){border-top: #F5B041  1px solid;}
#xiaomi-seckill-ol li:nth-child(3){border-top: #58D68D  1px solid;}
#xiaomi-seckill-ol li:nth-child(4){border-top: #3498DB  1px solid;}
#xiaomi-seckill-ol li:nth-child(5){border-top: #EC7063  1px solid;}

#xiaomi-seckill-goods-1{
    width: 233.98px;
    height: 340.23px;
    background: #ffffff;
    font-size: 16px;
}
.xiaomi-seckill-goods-1-a{
    padding: 63px;
    color: #757575;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.xiaomi-seckill-goods-title{
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    padding: 5px;    
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.xiaomi-seckill-goods-price>span{
    margin: 0;
    color: #ff6709;
}
.xiaomi-seckill-goods-price>del{
    margin: 0;
    color: #c4c4c4;
    text-decoration: line-through;
}
.xiaomi-seckill-goods-desc{
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
