<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小米秒杀</title>
    <link rel="stylesheet" href="./xiaomi-seckill.css">
    <link rel="stylesheet" href="./count-down.css">
    <script src="https://at.alicdn.com/t/font_2609419_leees8vps5a.js"></script>
    <script src="./count-down.js"></script>
</head>

<body onload="countTime()">
    <section id="xiaomi-seckill">
        <h1>小米秒杀</h1>

        <article>
            <ol id="xiaomi-seckill-ol">
                <li id="count-down">
                    <div class="count-down-title">14:00 场</div>

                    <svg class="icon-shandian" aria-hidden="true">
                        <use xlink:href="#icon-shandian"></use>
                    </svg>
                    <style type="text/css">
                        .icon-shandian {
                            width: 3.0em;
                            height: 3.5em;
                            vertical-align: -0.15em;
                            fill: currentColor;
                            overflow: hidden;
                        }
                    </style>

                    <div class="count-down-desc">距离结束还有</div>

                    <div id="count-down-main">
                        <span id="day"></span> :
                        <span id="hour"></span> :
                        <span id="minute"></span> :
                        <span id="second"></span>
                    </div>
                </li>
                <li id="xiaomi-seckill-goods-1">
                    <a class="xiaomi-seckill-goods-1-a" href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/a93f5fe2afbf492d991ca9fd0a34119e.png?thumb=1&w=150&h=150&f=webp&q=90" alt="">
                        <h3 class="xiaomi-seckill-goods-title">米家防蓝光护目镜 黑色</h3>
                        <p class="xiaomi-seckill-goods-price">
                            <span>89元</span>
                            <del>99元</del>
                        </p>
                        <p class="xiaomi-seckill-goods-desc">轻盈舒适，护眼新体验</p>
                    </a>
                </li>
                <li id="xiaomi-seckill-goods-1">
                    <a class="xiaomi-seckill-goods-1-a" href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/2b151b0763e6248045e6960ee7c1f7d8.jpg?thumb=1&w=160&h=160&f=webp&q=90" alt="">
                        <h3 class="xiaomi-seckill-goods-title">YESOUL野小兽智能健腹轮J20 智能健腹轮J20</h3>
                        <p class="xiaomi-seckill-goods-desc">智能APP，教练在线指导，搭赠“521马甲线训练课程</p>
                        <p class="xiaomi-seckill-goods-price">
                            <span>269元</span>
                            <del>399元</del>
                        </p>
                    </a>
                </li>
                <li id="xiaomi-seckill-goods-1">
                    <a class="xiaomi-seckill-goods-1-a" href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/4b4ec4b8ed45e3ef06706ea84d47e9d9.png?thumb=1&w=160&h=160&f=webp&q=90" alt="">
                        <h3 class="xiaomi-seckill-goods-title">inFace黑头仪</h3>
                        <p class="xiaomi-seckill-goods-desc">吸净黑头 高效不伤肤</p>
                        <p class="xiaomi-seckill-goods-price">
                            <span>109元</span>
                            <del>149元</del>
                        </p>
                    </a>
                </li>
                <li id="xiaomi-seckill-goods-1">
                    <a class="xiaomi-seckill-goods-1-a" href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/fe3082630d8f870996292569fd2acf50.png?thumb=1&w=160&h=160&f=webp&q=90" alt="">
                        <h3 class="xiaomi-seckill-goods-title">PGG颈椎按摩仪 黑色经典款</h3>
                        <p class="xiaomi-seckill-goods-desc">3个按摩头 | 全身按摩| 5大模式 | 米家APP</p>
                        <p class="xiaomi-seckill-goods-price">
                            <span>219元</span>
                            <del>249元</del>
                        </p>
                    </a>
                </li>
            </ol>
        </article>
    </section>
</body>

</html>