#right_menu_fixed{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 84px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

#right_menu_fixed .right_menu_img{
    width: 30px;
    height: 30px;
}

#right_menu_fixed .right_menu_a{
    color: #757575;
    display: block;
    padding: 5px 0px;
}

#right_menu_fixed .right_menu_a:hover{
    color: #ff6700;
}