<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小米手机</title>
    <link rel="stylesheet" href="./header-xiaomi-iphone.css">
    <link rel="stylesheet" href="../../index/index.css">
</head>
<body>
    <ul id="xiaomi-iphone">
        <li class="xiaomi-iphone-li">
            <a class="xiaomi-iphone-a" href="#">
                <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/85e44ea2405ff8414148bbde7446b137.png?thumb=1&w=160&h=110&f=webp&q=90"
                    alt="">
                <h1>
                    <p class="xiaomi-iphone-p">小米MIX FOLD</p>
                    <span class="xiaomi-iphone-span">9999元起</span>
                </h1>
            </a>
        </li>
        <i id="division"></i>
        <li class="xiaomi-iphone-li">
            <a class="xiaomi-iphone-a" href="#">
                <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/1a359e9346e3c6ee8c9d8389e3fd9458.png?thumb=1&w=160&h=110&f=webp&q=90"
                    alt="">
                <h1>
                    <p class="xiaomi-iphone-p">小米11 Ultra</p>
                    <span class="xiaomi-iphone-span">5999元起</span>
                </h1>
            </a>
        </li>
        <i id="division"></i>
        <li class="xiaomi-iphone-li">
            <a class="xiaomi-iphone-a" href="#">
                <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/a1c45eadcedeb27b1cafca0359422da9.png?thumb=1&w=160&h=110&f=webp&q=90"
                    alt="">
                <h1>
                    <p class="xiaomi-iphone-p">小米11 Pro</p>
                    <span class="xiaomi-iphone-span">4999元起</span>
                </h1>
            </a>
        </li class="xiaomi-iphone-li">
        <i id="division"></i>
        <li class="xiaomi-iphone-li">
            <a class="xiaomi-iphone-a" href="#">
                <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/56e3379b5422cb06e5c8a0c546445606.png?thumb=1&w=160&h=110&f=webp&q=90"
                    alt="">
                <h1>
                    <p class="xiaomi-iphone-p">小米11 青春版</p>
                    <span class="xiaomi-iphone-span">2299元起</span>
                </h1>
            </a>
        </li>
        <i id="division"></i>
        <li class="xiaomi-iphone-li">
            <a class="xiaomi-iphone-a" href="#">
                <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/f9149ef3ba2c9025a4a21c98ae793808.png?thumb=1&w=160&h=110&f=webp&q=90"
                    alt="">
                <h1>
                    <p class="xiaomi-iphone-p">小米10S</p>
                    <span class="xiaomi-iphone-span">3299元起</span>
                </h1>
            </a>
        </li>
        <i id="division"></i>
        <li class="xiaomi-iphone-li">
            <a class="xiaomi-iphone-a" href="#">
                <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/963679eaf3937351e154600ab3448460.png?thumb=1&w=160&h=110&f=webp&q=90"
                    alt="">
                <h1>
                    <p class="xiaomi-iphone-p">小米11</p>
                    <span class="xiaomi-iphone-span">3999元起</span>
                </h1>
            </a>
        </li>
    </ul>
</body>
</html>