#tab{
    position: relative;
    margin: auto;
    width: 1226px;
  
}
#tab div{
    width: 1226px;
    height: 640px;
    position: absolute;
}
#ul{
    position: relative;
    display: flex;
}
#ul li{
    height: 25px;
    font-size: 16px;
    padding: 0px 10px;
    margin: 30px 10px 0px 10px;
}
#ul li:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
    transition: all 1.5s;
}
.tab-context{
    display: flex;
    height: 57px;
    padding:10px 0px;
    justify-content: space-between;
    align-items: center;    
}
.tab-title{
    color: #333;
    font-size: 22px;
    transform: translateY(15px);
}

.show{display: block;}
.hide{display: none;}