#mi-jiadian{
    background: #f5f5f5;
    min-width: 1226px;
}

#mi-jiadian-logo>img{
    display: block;
    margin: auto;
}

#mi-jiadian-box{
    height: 640px;
    display: grid;
    grid-template-columns: repeat(5,234px);
    grid-template-rows: repeat(2,300px);
    grid-gap: 14px;
    background: #f5f5f5;

}

#mi-jiadian-box .mi-jiadian-dd{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 20px;
    background-color: #ffffff
}
#mi-jiadian-box>img{
    display: block;
    margin: auto;
}

.mi-jiadian-box-dd-title{
    margin: 0px 10px 0px 10px;
    transform: translateY(20px);
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.mi-jiadian-box-dd-title-desc{
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    transform: translateY(20px);
}

.mi-jiadian-box-dd-title-price{
    margin: 0 10px 10px;
    color: #ff6700;
    transform: translateY(30px);
}
.mi-jiadian-box-dd-title-price>del{
    color:#b0b0b0;
    text-decoration: line-through;
    padding:0px 2px;
}
#mi-jiadian-box-img{
    width: 234px;
    height: 300px;
}

#mi-jiadian-box .mi-jiadian-dd:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 10px #E5E7E9 ;
    transition: all .6s;
}









#brick-item{
    display: flex;
    flex-direction: column;
}

#brick-item-1{
    display: block;
    position: relative;
    top: 0px;
    width: 234px;
    height: 143px;
    background: #ffffff;

}
.brick-item-h4-1{
    width: 120px;
    height: 143px;
    font-weight: 200;
    
    text-indent: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.brick-item-p1-1,.brick-item-p2-1{color: #333333;font-size: 16px;}
.brick-item-span-1{color: #333333;font-size: 12px;}
.brick-item-span-1{transform: translateY(5px);color: #ff6700;}

.brick-item-1-img{
    position: absolute;
    top: 30px;
    transform: translateX(135px);
}


#brick-item-2{
    position: relative;
    top: 14px;
    width:234px;
    height: 143px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: #ffffff;
}
.brick-item-2-img{
    width: 50px;
    height: 50px;
}
.brick-item-h4-2{
    color: #333333;
    font-size: 16px;
    font-weight: 200;
}
.brick-item-span-2{font-size: 12px;}


#brick-item #brick-item-1:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 10px #E5E7E9 ;
    transition: all .6s;
}
#brick-item #brick-item-2:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 10px #E5E7E9 ;
    transition: all .6s;
}
