<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>轮播图</title>
    <link rel="stylesheet" href="./banner.css">
    <script type="text/javascript" src="../jquery-3.6.0.js"></script>
</head>

<body>
    <div class="banner">
        <div class="img-wrap">
            <ul>
                <li class="item" style="display: block">
                    <a href="#"><img
                            src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d7abb68ac50f82412d325f305cc62fb0.jpeg?w=2452&h=920"
                            alt="" class="lunbo"></a>
                </li>
                <li class="item">
                    <a href="#"><img
                            src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/02b6f2a85191a4806e6fefb38a12890a.jpg?thumb=1&w=981&h=368&f=webp&q=90"
                            alt="" class="lunbo"></a>
                </li>
                <li class="item">
                    <a href="#"><img
                            src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/02b6f2a85191a4806e6fefb38a12890a.jpg?thumb=1&w=981&h=368&f=webp&q=90"
                            alt="" class="lunbo"></a>
                </li>
                <li class="item">
                    <a href="#"><img
                            src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/1c3e97686468231f3f78048d7f2b7fdc.jpg?thumb=1&w=981&h=368&f=webp&q=90"
                            alt="" class="lunbo"></a>
                </li>
            </ul>
        </div>
        <!-- 轮播图的左右点击 -->
        <div class="lr-tab">
            <div class="left btn"></div>
            <div class="right btn"></div>
        </div>
        <!--轮播图的小圆圈 -->
        <div class="tab-btn">
            <ul>
                <li class="btn"></li>
                <li class="btn"></li>
                <li class="btn"></li>
                <li class="btn"></li>
            </ul>
        </div>
    </div>
</body>
    <script>
        var index2 = 0;/*初始化一个变量 指向下彪*/
        //点击点
        $(".tab-btn .btn").click(function () {
            index2 = $(this).index();//获取点击该元素下彪
            $(this).addClass("active").siblings().removeClass("active");
            $(".item").eq(index2).fadeIn().siblings().fadeOut();
        });
        //点击切换效果
        $(".lr-tab .right").click(function () {
            index2++;
            if (index2 > 4) { index2 = 0; }
            $(".item").eq(index2).fadeIn().siblings().fadeOut();
            $(".tab-btn .btn").eq(index2).addClass("active").siblings().removeClass("active");

        });
        $(".lr-tab .left").click(function () {
            index2--;
            if (index2 < 0) { index2 = 4; }
            $(".item").eq(index2).fadeIn().siblings().fadeOut();
            $(".tab-btn .btn").eq(index2).addClass("active").siblings().removeClass("active");

        });
        var time2 = setInterval(function () {
            index2++;
            if (index2 > 4) { index2 = 0; }
            $(".item").eq(index2).fadeIn().siblings().fadeOut();
            $(".tab-btn .btn").eq(index2).addClass("active").siblings().removeClass("active");

        }, 8000); //定时器 重复
    </script>

</html>