#mi-periphery{
    background: #f5f5f5;
    position: relative;
    margin:auto;
    min-width: 1226px;
    height: 810px;
    
}
#mi-periphery-logo>img{
    display: block;
    margin: auto;
}

.show-box{
    display: flex;
    align-items: center;
}
.show-box-img-1 img{
    width: 234px;
    height: 300px;
}
.show-box-img-2{
    transform: translateY(6px);
}
.show-box-img-2 img{
    width: 234px;
    height: 300px;
}
.show-box-goods-1{
    display: grid;
    width: 234px;
    height: 300px;
    background-color: #ffffff;
    grid-template-columns: repeat(4,234px);
    grid-template-rows: repeat(1,300px);
    grid-gap: 14px;
    transform: translateX(6px);
    text-align: center;
}
.show-box-goods-1 img{
    display: block;
    margin:10px auto 5px; 
}


/* ************************ */
.title{
    margin: 0px 10px 0px 10px;
    transform: translateY(0px);
    font-size: 14px;
    font-weight: 400;
    color: #333;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.desc{
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    transform: translateY(0px);
}
.price .num{
    display: inline-block;
    margin: 0 10px 10px;
    color: #ff6700;
    transform: translateY(0px);
}
.price del{
    display: inline-block;
    color: #b0b0b0;
    font-size: 10px;
    text-decoration: line-through;
    transform: translateY(0px);
}
.show-box-img-1 dd:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 10px #E5E7E9 ;
    transition: all .6s;
}
.show-box-img-2 dd:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 10px #E5E7E9 ;
    transition: all .6s;
}

.show-box-goods-1 dd:hover{
    margin-top: -5px;
    box-shadow: 0px 0px 15px 10px #E5E7E9 ;
    transition: all .6s;
}

/* ******************************** */
/* 选择更多 */
.brick-item{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(9px);
    right: 1.5px;
    width: 234px;
    height: 300px;  
}
#brick-item-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 234px;
    height: 142px;   
    background-color: #ffffff; 
}
#brick-item-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 234px;
    height: 142px; 
    font-size: 14px;
    background-color: #ffffff;
}

.brick-item-img{
    width: 48px;
    height: 48px;
}

.brick-item-h4{
    text-align: left;
    width: 80px;
    height: 65px;
    font-weight: 300;
}
.brick-item-p{
    line-height: 20px;
    font-weight: 300; 
    color: #504f4f;
    font-size: 12px;
}
.brick-item-span-1{
    color: #ff6700;
}



.brick-item #brick-item-1:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 10px #E5E7E9 ;
    transition: all .6s;
}
.brick-item #brick-item-2:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 10px #E5E7E9 ;
    transition: all .6s;
}

/* *************** */


.show-box-goods-2{
    display: grid;
    width: 234px;
    height: 300px;
    background-color: #ffffff;
    grid-template-columns: repeat(4,234px);
    grid-template-rows: repeat(1,300px);
    grid-gap: 14px;
    transform: translateX(6px);
    text-align: center;
}
.show-box-goods-2 img{
    display: block;
    margin:10px auto 5px; 
}
.show-box-goods-2 dd:hover{
    margin-top: -5px;
    box-shadow: 0px 0px 15px 10px #E5E7E9 ;
    transition: all  .6s;
}