#footer{
    width: 1226px;
    height: 302px;
    margin:30px auto;
    background-color: #ffffff;
/*     border: 1px solid rebeccapurple;    */
}
#footer #footer-ul{
    height: 80px;
}
#footer-li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.footer-li-a{
    width: 240px;
}
.footer-li-span{
    display: inline-block;
    width: 190px;
    color: #616161;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
   /*  padding: 5px; */
}
#footer-li .footer-li-a :hover{
    color: #ff6700;
    transition: all .5s;
}
#footer-table{
    width: 975px;
}
#footer-th{
    height: 20px;
    display: flex;
    justify-content: space-around;
}


.footer-icon {
    width: 24px;
    height: 25px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    color: #616161;
    transform: translate(40px, 2.5px);
}


#footer-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-table tr,th{
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
    padding: 12px;
}
.footer-table tr,td{
    border: none;
    padding: 3px;
    text-align: center;
    color: #757575;
}
.footer-table tr,td a{
    color: #757575;
}

.footer-table tr,td:hover{
    color: #ff6700;
    transition: all .2s;
}
.footer-table tr,td a:hover{
    color: #ff6700;
    transition: all .2s;
}


/* 人工客服 */
.footer-contact{
    width: 252px;
    text-align: center;
}
#footer-contact-telephone{
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
    padding: 5px;
}
#footer-contact-time{
    color: #616161;
    padding: 5px;
}
#footer-contact-kefu{
    width: 158px;
    height: 38px;
    color: #ff6700;
    border: #ff6700 1px solid;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}
#mi-weibo,#mi-weixin{
    width: 24px;
    height: 24px;
    transform: translateY(5px);
}
.footer-contact #footer-contact-kefu:hover{
    color: #ffffff;
    background: #ff6700;
}