<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>健康 儿童</title>
    <link rel="stylesheet" href="../../index/index.css">
    <link rel="stylesheet" href="./mobile-Healthy-children.css">
</head>
<body>
    <section id="mobile-Healthy-children">
        <ul id="mobile-Healthy-children-ul"></ul>
    </section>
</body>
</html>

<script>
    var arrs = [
        {
            img: "https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/da43c3dd6b171ee267f1fd1ec01b9208.jpg?thumb=1&w=40&h=40",
            title: "洗手机",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/60d7bdf307ceaba08b3275246ad3ab53.jpg?thumb=1&w=40&h=40",
            title: "剃须刀",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/96b5d738ce5926e3a6969ad68fa1521d.jpg?thumb=1&w=40&h=40&f=webp&q=90",
            title: "修剪器",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/15447769c461fdc71e84a7badb83f09b.jpg?thumb=1&w=40&h=40",
            title: "牙刷",
            connect: "#",
        },
        {
            img: "https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/bba7ce79f4d61939c69b7a26bf507bae.jpg?thumb=1&w=40&h=40",
            title: "吹风机",
            connect: "#",
        },
    ];
    var card_print = "";
    arrs.forEach(e => {
        card_print += `
            <ul id="mobile-Healthy-children-ul">
                <li>
                    <a href=${e.connect} >
                        <img src=${e.img} alt=${e.title}>
                        <span>${e.title}</span>
                    </a>
                </li>
            </ul>
        `
    })
    document.getElementById('mobile-Healthy-children-ul').innerHTML = card_print;
</script>